/**plugin para vsc autoprefixer**/
section{
    background-color: skyblue;
    height: 600px;

    display: -webkit-box; /**chrome - safari**/

    display: -ms-flexbox; /**internet explore **/

    display: flex;

}

article{
    outline: 1px solid red;
    width: 50%;
}